**pro.user
**.autosave
**.swp
**.swo
**.o
**.so.*
**.so
**~
**.swo
bin/cas/Makefile
bin/cas/cas
bin/cas/moc_frmlogin.cpp
bin/cas/moc_mainwindow.cpp
bin/cas/qrc_image.cpp
bin/cas/ui_frmlogin.h
bin/cas/ui_mainwindow.h
lib/CASCoreBusiness/Makefile
lib/CasCoreData/Makefile
lib/CoreCommom/Makefile
lib/CoreFatory/Makefile
lib/Makefile
.mocs/
tests/test_benovomovimento
tests/test_benovomovimento.makefile
tests/test_benovomovimento.pro
bin/casgui/main.moc
bin/casgui/moc_qmlapplicationviewer.cpp
qtcreator/qtcas.pro.user.1.3
tests.manual/cas/Makefile
tests.manual/cas/ui_frmlogin.h
tests.manual/cas/ui_mainwindow.h
bin/casui/casui.pro.user.1.3
casui.tgz
bin/casui/Makefile.casui
