<?xml version="1.0" encoding="utf-8"?>
<configuration>

<settings>

<add key="teste" value="Alguma coisa"/>
<add key="nome" value="Ricardo"/>
<add key="block" value="Gomes"/>
<add key="eu" value="testftf"/>

</settings>

<CredentialDataBase>

<drivertype>QMYSQL</drivertype>
<Adresshost>localhost</Adresshost>
<DataBase>ticket</DataBase>
<UserDataBase>root</UserDataBase>
<Password>igsitc54</Password>

</CredentialDataBase>

  
</configuration>
